@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(233, 47%, 7%);
  justify-content: center;
}

.card {
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(244, 38%, 16%);
  font-family: inter;
  width: 900px;
  margin: auto;
}

.info {
  width: 450px;
  margin: 30px;
}

h1 {
  color: white;
}

.violet {
  color: hsl(277, 64%, 61%);
}

p {
  font-style: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

h3 {
  color: white;
}

.stats {
  display: inline-flex;
  padding: 20px;
}

.stats p {
  font-family: Lexend Deca;
}

.image {
  color-adjust: violet;
  width: 450px;
}
